# =========================
# FLUTTER (mobile/)
# =========================

# Flutter/Dart/Pub
mobile/.dart_tool/
mobile/.packages
mobile/.pub/
mobile/.pub-cache/
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.metadata

# Generated
mobile/**/generated_plugin_registrant.dart

# Android
mobile/android/.gradle/
mobile/android/app/debug/
mobile/android/app/profile/
mobile/android/app/release/
mobile/android/local.properties
mobile/android/key.properties

# iOS
mobile/ios/Flutter/Flutter.framework
mobile/ios/Flutter/Flutter.podspec
mobile/ios/Pods/
mobile/ios/.symlinks/
mobile/ios/Runner.xcworkspace/
mobile/ios/DerivedData/

# macOS
mobile/macos/Flutter/Flutter.framework
mobile/macos/Pods/

# Windows
mobile/windows/flutter/ephemeral/

# Linux
mobile/linux/flutter/ephemeral/

# Web
mobile/build/web/

# IntelliJ / VSCode
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# =========================
# ENV FILES
# =========================

.env
.env.*
mobile/.env
mobile/.env.*

# =========================
# Secure
# =========================

mobile/android/key.jks
mobile/android/app/upload-keystore.jks