PORT=3000
DATABASE_URL="postgresql://usuario:senha@localhost:5432/healthtrack?schema=public"
RABBITMQ_URL="amqp://localhost"
JWT_SECRET="sua_chave_secreta_super_segura"
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="seu-email@gmail.com"
SMTP_PASS="sua-senha-de-app-google"
SMTP_FROM="HealthTrack AI <seu-email@gmail.com>"
WEB_BASE_URL="http://localhost:3001"
MOBILE_DEEP_LINK_BASE="clientapp://invite"
